.navbar {
  width: 100%;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #11111B;
}

.navbar > span {
  height: 100%;
}

.logo {
  width: 10vw;
  min-width: max-content;
}

.children {
  width: max-content;
  min-width: max-content;
  display: flex;
  align-items: center;
}
