.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2px 2px 0 0;
  overflow: auto;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.table-primary {
  background-color: #EDEDED;
}

.table-secondary {
  background-color: #3D3D47;
}

.data {
  height: 100%;
  width: 100%;
  min-width: max-content;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
}

.data::-webkit-scrollbar {
  display: none;
}

.row {
  width: 100%;
  min-width: max-content;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
}

.header {
  color: #FFFFFF;
  background-color: #11111B;
  border-radius: 2px 2px 0 0;
}

.column {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Cardo';
  padding: 0.2rem 0.4rem;
  min-width: 12rem;
  max-width: 12rem;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}

.column::-webkit-scrollbar {
  display: none;
}

.row-primary {
  color: #000000;
}

.row-secondary {
  color: #FFFFFF;
}

.row-primary:hover {
  background-color: #dddddd;
}

.row-secondary:hover {
  background-color: #4a4a53;
}

.loading-primary, .loading-secondary {
  width: 100%;
  height: 80vh;
}

.loading-primary { animation: load-primary ease-in-out 2s infinite; }

.loading-secondary { animation: load-secondary ease-in-out 2s infinite; }

.table-vartical {
  transform: rotate(0);
}

.table-horizontal {
  flex-direction: row;
}

.table-horizontal .row {
  width: 100%;
  min-width: max-content;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}

.table-horizontal .header {
  width: 20rem;
}

.table-horizontal > .data {
  width: 100%;
  flex-direction: row;
  display: flex;
}

.table-horizontal .column {
  font-size: 2rem;
  overflow: inherit;
}

@keyframes load-primary {
  0% { background-color: #EDEDED; }
  50% { background-color: #cccccc; }
  100% { background-color: #EDEDED; }
}

@keyframes load-secondary {
  0% { background-color: #3D3D47; }
  50% { background-color: #56565e; }
  100% { background-color: #3D3D47; }
}
