@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.background-primary {
  background-color: #FFFFFF;
}

.background-secondary {
  background-color: #303440;
}

.fill-all {
  height: 100%;
  width: 100%;
}

.characters-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5rem;
  grid-template-areas: "sidebar characters" "sidebar pagination";
  column-gap: 16px;
}

.houses-page {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr;
  grid-template-areas: "arms house";
  column-gap: 16px;
}

.grid-arms {
  grid-area: arms;
}

.grid-house {
  grid-area: house;
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-characters {
  grid-area: characters;
  padding: 1rem;
  box-sizing: border-box;
}

.grid-pagination {
  grid-area: pagination;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* a {
  text-decoration: none;
} */

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.h1-not-found-primary, .h1-not-found-secondary {
  font-family: 'Cardo';
  font-size: 16rem;
}

.h1-not-found-primary {
  color: #000000;
}

.h1-not-found-secondary {
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }

  .characters-page {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "sidebar" "characters" "pagination";
    column-gap: 0;
  }

  .grid-pagination {
    padding: 1rem;
    box-sizing: border-box;
  }

  .houses-page {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "house" "arms";
    column-gap: 0;
  }
}
