@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.background-primary {
  background-color: #FFFFFF;
}

.background-secondary {
  background-color: #303440;
}

.fill-all {
  height: 100%;
  width: 100%;
}

.characters-page {
  display: grid;
  grid-template-columns: 20% calc(80% - 1rem);
  grid-template-rows: 1fr 5rem;
  grid-template-areas: "sidebar characters" "sidebar pagination";
  column-gap: 1rem;
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-characters {
  grid-area: characters;
  padding: 1rem;
  box-sizing: border-box;
}

.grid-pagination {
  grid-area: pagination;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

@keyframes blizzard {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 0%; }
  100% { background-position: 0% 0% ; }
}
