.App {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.background-primary {
  background-color: #FFFFFF;
}

.background-secondary {
  background-color: #303440;
}

.fill-all {
  height: 100%;
  width: 100%;
}

.s-primary {
  background-color: #EDEDED;
}

.s-secondary {
  background-color: #11111B;
}
